.background-img {
  max-width: 1300px;
  background-image: url("../assets/list_bg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: block;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.band-home {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
}

@media only screen and (min-width: 600px) {
  .band-home {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .band-home {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-home {
  position: relative;
  padding-top: 70%;
  padding-bottom: 70%;
  background-image: url("../assets/list_pokemon_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-decoration: none;
}

.card-home img {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 8%;
}

.card-home:hover {
  top: -2px;
}

.card-home span {
  position: relative;
  top: 280%;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
